DATABASE_URL=postgresql://postgres:[SENHA]@db.[REF].supabase.co:5432/postgres
DATABASE_URL_REPLICA=

SECRET_KEY=gere_com_python_secrets_token_hex_32

GEMINI_API_KEY=sua_gemini_api_key

QDRANT_URL=https://[CLUSTER-ID].[REGION].aws.cloud.qdrant.io
QDRANT_API_KEY=seu_qdrant_api_key

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,https://seu-app.vercel.app
